{
margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
margin-bottom:20px;
}
html, body{
	height: 100%;
}

nav{
	position:fixed;
	width: 100%;
	height:50px;
	background-color: rbga(0,0,.5);
	z-index: 99;
}

nav a{
	text-decoration:none;
	color: #fff;
	margin-left:30px;
}
.sect{
	height: 100%;
	width: 100%;
	background-color: tuquoise;
	background-repeat: no-repeat;
	background-size: cover;
}

.subSection{
	height: 50%;
	width: 100%;
	background-color: honydew;
}

.sectOne{
	background-image: url(C:\Users\manish.yadav\Desktop\website\images\beach1.jpg);
}

.secttwo{
	background-image: url(C:\Users\manish.yadav\Desktop\website\images\beach2.jpg);
}

.sectthree{
	background-image: url(C:\Users\manish.yadav\Desktop\website\images\beach3.jpg);
	
}